<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>support and cont</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Rubik+Iso&family=Yellowtail&family=Zen+Dots&family=Zeyada&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@300;400;700" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Rubik+Iso&family=Yellowtail&family=Zen+Dots&family=Zeyada&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
   
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@300;400;700" />
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/scheader.css"> 
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/supportcontact.css">
    <link rel="stylesheet" href="/smallchatbot.css">
   


</head>
<body>


    
    <div class="header"> 
        <header>
        <div class="logo"> <a href="/home"><img src="/Zenspeclogo.png" alt="app-logo"></a></div>
        <div class="middle"> <nav>
             <ul class="nav-links">
            <li><form action="/search">
                <div class="Search"><img src="/searchicon.png" alt=""> <input type="search" placeholder="Search a Gadget" class="search-input" name="searchquery" autocomplete="off">
                <div class="suggestion-box" id="suggestions1"></div>

                </input>
            </div>
        </form></li>
            <li><a href="/home" class="<%= currentRoute === 'home' ? 'active-link' : '' %>">Home</a></li>
            <li><a href="/category" class="<%= currentRoute === 'category' ? 'active-link' : '' %>">Category</a></li>
            <li><a href="#" onclick="event.preventDefault(); document.getElementById('postForm').submit();" class="<%= currentRoute === 'compare' ? 'active-link' : '' %>">Compare</a></li>
            <form id="postForm" action="/compare/form" method="POST" style="display: none;"></form>
            <li><a href="/pricetracker" class="<%= currentRoute === 'pricetracker' ? 'active-link' : '' %>">Price tracker</a></li>
            <li><a href="/technews" class="<%= currentRoute === 'technews' ? 'active-link' : '' %>">Tech news</a></li>
             </ul> 
        </nav></div>
        <button class="user"><a href="#"><img src="/user-logo.svg" alt="user-icon" onclick="toggleDropdown()" ></a></button>

    </header>
    <div class="dropdown-profile">
       
       
        <div class="dropdown-content-profile" id="dropdown-content-profile">
            <div class="triangle"></div>
            <div class="order-list" >
               <a href="/profilesettings"> <span class="pro-set">Profile and settings</span></a>
               <hr class="one">
               <a href="/wishlist"> <span class="wish">Wishlist</span></a>
               <hr class="two">
               <a href="/supportcontact"> <span class="sup-cont">Support and Contact</span></a>
               <hr class="three">
               <a href="/logout"> <span class="log" id="log">Log out</span></a>
            </div>
        </div>
    </div>
</div>

<div class="minimize-chatbot"><video src="/zenny-ani.mp4" autoplay loop muted class="Zenny-icon-ani"></video></div>
<div class="main2">
<form action="/chatbot" method="get">
<button class="maximize-btn" id="expandBtn"><img src="/light-chatbot-maximize.png" alt="" class="maximize-btn-img"></button>
</form>
<div class="container2">
   
    <!-- App header -->
    <div class="app-header2">
        <div class="heading2">Hey, Buddy !</div>
        <div class="sub-heading2">Zenny here, <span>Let me help you...</span></div>
    </div>
    <!-- button list -->
     <button class="explain">Explain the page.</button><br>
     <button class="summarize">Summarize the page.</button>
     <div class="fullscreen-text">Enter full screen, to deep dive into information.</div>

     <!-- chats container2  -->
     <div class="chats-container2"></div>
     <!-- prompt container2 -->
     <div class="prompt-container2">
        <div class="prompt-wrapper2">
            <form action="" class="prompt-form2">
                <input type="text" class="prompt-input2" placeholder="Ask Zenny" required>
                <div class="prompt-action2">
                    <!-- file-upload-wrapper -->
                    <div class="file-upload-wrapper2">
                        <img src="#" alt="" class="file-preview2">
                        <input type="file" accept="image/*, .pdf, .txt, .csv" id="file-input2" hidden>
                        <button  class="file-icon2 material-symbols-rounded" type="button">description</button>
                        <button id="add-file-btn2" class="material-symbols-rounded" type="button">attach_file</button>
                        <button id="cancel-file-btn2" class="material-symbols-rounded" type="button">close</button>

                    </div>
                    <button id="stop-response-btn2" class="material-symbols-rounded"  type="button">stop_circle</button>
                    <button id="send-prompt-btn2" class="material-symbols-rounded">arrow_upward</button>

                </div>
            </form>
            <button id="theme-toggle-btn2" class="material-symbols-rounded" >light_mode</button>
            <button id="delete-chats-btn2" class="material-symbols-rounded" style="display: none;" >delete</button>
            <!-- <button id="explain-chats-btn">explain</button> -->

        </div>
        
     </div>
    </div>


</div>




   <div class="main-SandC">

<div class="cont1">

    <h2>Support and Contact</h2>
</div>
 <div class="cont2"><hr class="up-hr"></div>

<div class="cont3">

<div class="btn-cont1"><a href="/faq"><button class="my-btn faq">Frequently asked questions</button></a></div>
<div class="btn-cont2"><a href="/chatbot"><button class="my-btn Zenny">Talk to Zenny</button></a></div>
<div class="btn-cont3" ><a href="/contactus"><button class="my-btn cont">Contact Us</button></a></div>

</div>

<div class="cont4" >
    <div class="feedback"> <p>Feedback & Suggestions</p></div>
   <div class="fedform"> 
    <form action="/submit-feedback" method="post"> 
        <input type="text" name="feedback" placeholder="We would love to hear from you guys !!" id="">


<div class="sub-box">
    <button class="sub-btn">Submit</button>
</div>
</form>
</div>


</div>
<div class="img-left"> <img src="/Support-Contact-dot-2.png" alt=""></div>
<div class="img-right"> <img src="/Support-Contact-dot-1.png" alt=""></div>

<button class="arrow" id="arrow-back"><img src="/Support-Contact-arrow_back.png" alt=""></button>
   </div>





    
   <div class="footer">  <hr>
    <footer>
       
    <div class="f-left"> <span class="span-1">Zenspec</span><p> <span class="span1-1">© 2025, Zenspec.tech</span><br><span class="span1-2">All rights reserved.</span></p></div>
    
    <div class="f-middle"> <p>About us <br><a href="/contactus">Contact us</a> <br><a href="/termsandcondition">Terms and conditions.</a></p></div>
 
    <div class="f-right"> <p>Crafted with</p> <div class="heart"><video autoplay loop muted src="/zenspec.heart.mp4"></video>
     <div class="overlay"></div></div>
 
    
 
    <div class="social">
     <button><i class="fa-brands fa-facebook"></i></button>
     <button><i class="fa-brands fa-linkedin"></i></button>  
     <button><i class="fa-brands fa-youtube"></i></button> 
     <button><i class="fa-brands fa-instagram"></i></button> 
  </div>
 </div>
    </footer>
 </div>


<script src="/profile.js"></script>
<script src="/chatbot.js"></script>
<script src="/logout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>


        <script>
            document.getElementById("arrow-back").addEventListener("click", function (event) {
                event.preventDefault(); // Prevent instant navigation

            document.getElementById("arrow-back").classList.add("hello");
                gsap.to("body", { 
                    opacity: 0,  // Fade out
                    duration: 0.3, 
                    backgroundColor:"#F3F1C1",
                    ease: "power2.out",
                    onComplete: () => {
                        window.history.back(); // Navigate back after fade-out
                    }
                });
            });
        </script>

</body>
</html>